* {
    transition: all 0.3s ease-in-out;
}

:root, :root.light {
    --menu-bg-color: #55625D;
    --button-hvr-color: #38423E;
    --nav-bg-color: #A3CCA6;
    --code-text-bg-color: #FFC885;
    --code-fragment-bg-color: #d3d9e1;
    --tabs-bg-color: #AB87FF;
    --tabs-button-color: #3d3735;
    --tabs-dependencies-bg-color: #a1776b;  
}

:root.dark {
    --menu-bg-color: #0B2432;
    --button-hvr-color: #38423E;
    --nav-bg-color: #28231C;
    --code-text-bg-color: #3B2B2C;
    --code-fragment-bg-color: #382E2F;
    --tabs-bg-color: #33331F;
    --tabs-button-color: #3d3735;
    --tabs-dependencies-bg-color: #122B1F;
    --text-font-color: white;      
}

body {
    margin: 0;
    padding: 0;
    border: 1px solid black;
    border-radius: 3px;
}