#page {
    display: grid;
    width: 100%;
    height: 100vh;
}

@media (min-aspect-ratio:4/3) {
    #page {
        grid-template-areas:
        "head head"
        "aside main"
        "aside foot";
        grid-template-rows: 40px 4fr 1fr;
        grid-template-columns: 1fr 4fr;
    }
    .code {
        display: flex;
        flex-direction: row;
    }
    .code pre {
        max-height: 75vh;
    }
}

@media (max-aspect-ratio:4/3) {
    #page {
        grid-template-columns: auto;
        grid-template-rows: 40px 1fr 3fr 2fr;
        grid-template-areas: 
        "head "
        "aside "
        "main "
        "foot ";
    }
    .code {
        display: flex;
        flex-direction: column;
        background-color: var(--code-fragment-bg-color);
    }
    .code pre {
        max-height: 60vh;
    }
}
  
#page > header {
    grid-area: head;
    background-color: var(--menu-bg-color);
}
  
#page > aside {
    grid-area: aside;
    background-color: var(--nav-bg-color);
}